@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*
{
	font-family: "Rubik"
}
body
{
	margin: 0;
	padding: 0;
	display: none;
	opacity: 0;
}
.scene {
  	position: fixed;
	width: 100%;
	height: 100%;
  	perspective: 3000px;
	//border: 1px solid black;
}
.cube
{
	width: 100%;
  	height: 100%;	
	position: relative;
  	transform-style: preserve-3d;
	transform: translateZ(-40vw) rotateY(0deg);
	transition: 1s;
}

.face {
	position: absolute;
	top: -120%;
	width: 80vw;
	height: 300%;
}
.top
{
	background-color: #000;
	transform: rotateX( 90deg) translateZ(40vw);
	height: 400px;
}
.bottom
{
	background-color: #000000;
	transform: rotateX(-90deg) translateZ(40vw);
	height: 400px;
}
.front
{
	transition: 1s;
	background-color:antiquewhite;
	transform: rotateY(  0deg) translateZ(40vw);
	width: 100%;
}
.back
{
	background-color: #fff;
	transform: rotateY(180deg) translateZ(40vw);
	width: 100%;
}
.right
{
	background-color:#fff;
	transform: rotateY( 90deg) translateZ(40vw);
}
.left
{
	background-color:#d9c4a8;
	transition: 1s;
	color: black;
	transform: rotateY(-90deg) translateZ(40vw);
}
.menu, .shadowmenu
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.menu
{
	position: absolute;
	top: 0;
	padding: 20px;
	font-size: 15px;
	transform: rotateY(-90deg) translateZ(calc( 40vw +  50px )) ;
}
.maintext
{
	position: absolute;
	padding: 20px;
	top: 80px;
	left: 10px;
	font-size: 15px;
	width: 100%;;
	text-align: left;
	transform: rotateY(  0deg) translateZ(calc( 40vw +  50px ));
}

.shadowmaintext {
	position: absolute;
	padding: 20px;
	top: 80px;
	left: 10px;
	font-size: 15px;
	width: 100%;;
	text-align: left;
	transform: rotateY(  0deg) translateZ(40vw);
	color: #22222200;
	text-shadow: 0px 0px 20px #222222aa;
}
.shadowmenu
{
	position: absolute;
	top: 0;
	padding: 20px;
	font-size: 15px;
	transform: rotateY( -90deg) translateZ(40vw);
	color: #22222200;
	text-shadow: 0px 0px 20px #222222aa;
}
h1
{
	//text-shadow: 0px 0px 10px #000;
	background-color: transparent;
}
.open
{
	transform: translateZ(-80vw) translateX(calc(-60vw + 40vw) )rotateY(90deg) rotateX(0deg);
}

.open .front
{
	background-color:#d9c4a8;
}
.open .left
{
	background-color:antiquewhite;
}
.cube .shadow {
	position: absolute;
	top: 20px;
	background-color: transparent;
	transform: translateZ( 1000px );
	font-size: 10px;
}


#menubutton {
	transition: 1s;
	color: black;
	position: absolute;
	font-size: 40px;
	top: 0.5em;
	left: 1em;
}
